<app-page-header> </app-page-header>
  <app-filter></app-filter>
<body>
  <h1>Build Amazing Things </h1> 
    <br />
  <h1>with APIs</h1>
  <h4>Practice using APIs to build full stack apps today</h4>
 
    <div class="button">
    
    <button class="misc-buttons" id="about-button" routerLink="/about">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      About
    </button>


    <button class="misc-buttons" routerLink="/practice">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Practice
    </button>
</div>

</body>

<app-page-footer></app-page-footer>
