<app-page-header></app-page-header>



<div class="search-categories">
<div class="search">
        <input id="search-bar" type='text'>
        <button id="search-button">Search APIs</button>
</div>


  <nav class = "header-navbar">
      <h1>CloudAPI</h1>
  <div class="search">
    <input id="search-bar" type="text" />
    <button id="search-button">Search APIs</button>
  </div>
  </nav>

  <div class="categories-buttons">
    <div class="button-pair">
      <button id="single-button" class="category">Animals</button>
      <button id="single-button" class="category">Anime</button>
      <button id="single-button" class="category">Arts & Design</button>
      <button id="single-button" class="category">Books</button>
      <button id="single-button" class="category">Business</button>
      <button id="single-button" class="category">To Be Determined</button>
    </div>

</div>
</div>


<app-page-footer></app-page-footer>