<app-page-header> </app-page-header>

<main>
    <h1>Try It!</h1>
        <p id='subheading' >Use the CloudAPI online tool to practice using REST API. Here you can practice making requests using REAL APIs! </p>

        <h3>Available Routes:</h3>
            <ul class='available-routes'>
                <a href="#"><li id='getALL-link'>/apis</li></a>
                <a href="#"><li id='getID-link'>/apis/:id</li></a>
            </ul>
                


            <h4>GET an API</h4>
            <div class='try-boxes'>
                    <p id='get-box'></p>
            </div>

            <h4>GET an API by ID</h4>
            <div class='try-boxes'>
                    <p id='id-box'></p>
            </div>
            

            <h4>UPDATE an API</h4>
            <div class='try-boxes'>
                    <p id='put-box'></p>
            </div>


            <h4>POST a new API</h4>
            <div class='try-boxes'>
                    <p id='post-box'></p>
            </div>


            <h4>DELETE existing API</h4>
            <div class='try-boxes'>
                    <p id='delete-box'></p>
            </div>


</main> 