* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.header-navbar {
  width: 100%;
  min-height: 30px;
  height: 7vh;
  position: fixed;
  top: 0;
  background-color: #20a8b4;
  border-bottom: #ff5c0f 15px line;
  z-index: 1;
  margin: 10px;
  align-items: center;
  font-family: Sans-Serif;
  background-color: #20a8b4;
}
h1 {
  text-decoration: none;
  color: #20a8b4;
  font-size: 30px;
  margin: 5px;
}
.divider {
  display: flex;
  align-items: center;
  color: #ff5c0f;
  border-bottom: 1px solid black;
  width: 100%;
}
