* {
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #f2f2f2 , #20a8b4, #ff5c0f);
  height:100%;
  min-height:100%;
}
h1 {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 60px;
   -webkit-text-stroke: 1px orangered;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
