/* *{
    margin: 0;
    padding: 0;
}

footer{
  background-color: #20a8b4;
  border-top: #ff5c0f 15px ridge;
  font-family: Sans-Serif;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
} */