<form class="search-bar">
  <mat-form-field class="filters">
    <mat-label></mat-label>
    <input type="text" placeholder="Search Here" aria-label="Apis" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<a><button class="fa-fa-search" routerLink="/results"></button></a>
