<form class="search-bar">
  <mat-form-field class="filters">
    <mat-label></mat-label>
    <input type="text" placeholder="Search Here" aria-label="Apis" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <a class="search-button" routerLink="/results"><button class="searchbutton">Search</button></a>
  </mat-form-field>
</form>
