<app-page-header> </app-page-header>


<div class="divider"></div>
<h2>What is an API?</h2>

<p>
   <span class="bold">Application Programing Interfaces</span> or API for short, 
   are a set of functions and procedures that allow for 
   the creation of applications that access data and features of other 
   applications, services, or operating systems. APIs allow us
   to bring in data to host from a database. When you buy tickets to
   see your favorite band, you use an API. An API allows you sort 
   through data in the most efficient way possible, as well as updating,
   adding, and deleting data. Imagine trying to display an entire 
   database on a webpage! Then telling the user to "search" through
   all the information to find what they are looking for. 
   APIs allow us to pull only the information that we 
   requested on to the webpage.
</p>
<img class="home-page-image" src="../../assets/JSONExample.png" alt="JSON Object Example">
<p id="picture-label">Pictured above is an example of a JSON object.</p>
<div class="divider"></div>
<h2>An Overview of an API</h2>
<div class="divider"></div>
