.home-button{
    width: 20px;
    padding: 50px;
    border-radius: 20%;
};

* {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.home-page-image {
    width: 100%;
}

.divider {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 100%;
}

#picture-label {
    text-align: center;
    
}