
/* MOBILE VERSION */ 
@media only screen and (max-width: 768px) {

  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
  }

  nav{
      height: 80px;
      width: 100%;
      background-color: orange;
  }

  a:hover{
      color: blue;
  }

  .nav-button{
    display: flex;
    justify-content: space-between;
    }

    nav ul li{
        display: inline-block;
        color: #fff;

    }

   
};


/* DESKTOP VERSION */
 /* nav ul{
        float: right;
        margin-right: 20px;
    } */

